*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
}
html,body{
    height: 100%;
}
body{
    background-color: #546377;
}
.sidemenu{

    position: relative;
    width: 300px;
    height: 100%;
    padding: 50px 0;
    box-sizing: border-box;
    background-image: linear-gradient(0deg,#3381b0,#c2196c);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 10px 15px hsla(240, 40%,15%,.6);
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
    transform: translateX(100%);
    transition: .35s;
}
.sidemenu form{
    display: flex;
    margin: 0px 10px 50px;
    border-radius: 100px;
    border: 1px solid #fff; 
}
.sidemenu form input{
    border: none;
    background-color: transparent;
    color: #fff;
    padding: 5px 10px;
    width: 230px;
}
.sidemenu form:focus{
    outline: none;
}
.sidemenu form input:focus{
    outline: none;
}
.sidemenu form button{
    border: none;
    background-color: transparent;
    color: #fff;
    padding: 5px 10px;
    width: 50px;
}
.sidemenu label{
    position: absolute;
    width: 40px;
    height: 80px;
    background-color: #000;
    color: #fff;
    left: -40px;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 80px;
    text-align: center;
    font-size: 35px;
    border-radius: 15px 0px 0px 15px;
}
#sidemenu-switch:checked + .sidemenu{
    transform: translateX(0);
   
}
#sidemenu-switch{
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.sidemenu nav a{
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    position: relative;
}
.sidemenu nav a + a::before{
    content: '';
    position: absolute;
    border-top: 1px solid rgba(255,255,255,.4);
    left: 10px;
    right: 10px;
    top: 0;
  
}
.sidemenu nav a .fa{
    padding-right: 5px;
    margin-right: -1.1em;
    transform: scale(0);
    transition: .3s;
}
.sidemenu nav a:hover .fa{
    margin-right: 0;
    transform: scale(1);
}
